html
{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

body
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* Barra de encabezado */

header
{
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #000;
}

/* Logo de la barra de navegacion */

.logo img
{
    width: 5rem;
    border-radius: 50%;
}

.logo
{
    display: flex;
    align-items: center;
}

/* Menu de navegacion */

.menu
{
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menuItem
{
    width: 100%;
    padding: 0.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.menuItem:hover
{
    background-color: #333;
}

/* Buscador */

.nav
{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav input
{
    width: 100%;
    padding: 0.5rem;
    border-radius: 2rem;    
}

/* Boton de perfil */

.perfil
{
    display: flex;
    justify-content: flex-end;
}

.perfil svg
{
    cursor: pointer;
}

/* Perfil de empleado */

section
{
    padding: 1rem;
    background-color: #f0ffff;
}

.contEmpleado
{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}

.contDescripcion
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

.contTrabajo p
{
    font-weight: bold;
}

.contImgTrabajo img
{
    border-radius: 3rem;
    box-shadow: 0px 20px 34px -1px rgba(0,0,0,0.75);
}

.contImgTrabajo
{
    position: relative;
}

.contImgTrabajo svg
{
    padding: 0.5rem;
    background-color: #7fff00;
    border-radius: 5rem;

    position: absolute;
    top: 1rem;
    right: 70rem;

}